.container {
  padding: 5px;
}

.imageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagePlaceholder{
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 200px;
}
